.custom-input-container {
  display: flex;
  height: 2rem;

  input {
    border: 1px solid #bfbfbf;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    padding: 5px;
    width: 93%;
    -webkit-border-radius: 5px 0px 0px 5px
  }

  .input-button {
    padding: 5px;
    min-width: 7%;
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    color: #969696;
    cursor: pointer;
  }
}
