.custom-input-container {
  display: flex;
}

.custom-input-container input {
  padding: 5px;
  width: 93%;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border: 1px solid #bfbfbf;
}


.custom-input-container .input-button {
  padding: 5px;
  min-width: 7%;
  border-radius: 0px 5px 5px 0px;
  border-right: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  color: #969696;
  cursor: pointer;
}