
.scroll-container {
  border-top: 1px solid rgb(170, 170, 170);
  display: flex;
  overflow-y: auto;

  .main-container__schedule {
    display: flex;
  }

  .empty-data {
    align-self: center;
    width: 100%;
  }
}
