.main-container {
  width: 100%;

}

.main-container__header {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-color);
  padding: 1rem;
  align-items: center;
}

.main-container__header-title {
  font-size: 2rem;
}

.main-container__header-days button {
  background: var(--primary-color);
  margin: 0;
  color: white;
  border: navajowhite;
  padding: 0.3rem;
}

.main-container__header-days button:first-child {
  border-radius: 0.3rem 0px 0px 0.3rem;
}

.main-container__header-days button {
  float: left;
 
}

.main-container__header-days button:last-child {
  border-radius: 0px 0.3rem 0.3rem 0px;
}

.container-scroller {
  height: 100%;
}

.main-container__schedule {
  display: flex;
}

.scroll-container {
  display: flex;
  border-top: 1px solid rgb(170, 170, 170);
}

.empty-data {
  width: 100%;
  align-self: center;
}