
.scroll-container {
	display: flex;
  border-top: 1px solid rgb(170, 170, 170);
  overflow-y: auto;
  .main-container__schedule {
    display: flex;
  }
  .empty-data {
    width: 100%;
    align-self: center;
  }
}